{% extends '/templates/app.twig' %}

{% block content %}
	

    <!-- Errors from server, display in error view bars -->
    <!--
    {% if errors.password %}
    <div class="alert alert-danger fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Error!</strong> {{ errors.password | first }}
    </div>
    {% endif %}
    -->

    {% if errors.loginError %}
    <div class="alert alert-danger fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Error!</strong> {{ errors.loginError }}
    </div>
    {% endif %}

  <div class="row">
        <div class="col-xs-14 col-sm-14 col-md-4 well well-sm pull-right">
            <legend><i class="glyphicon glyphicon-globe"></i> Login</legend>

            
            <form action="{{ path_for('auth.login') }}" method="post" class="form" role="form">
                <div class="form-group{{ errors.email? ' has-error ': '' }}">
                    <input class="form-control form-group" name="youremail" placeholder="email/phone" type="email" value="{{oldInputData.youremail}}" required />
                    {% if errors.youremail %}
                        <span class='help-block'> {{ errors.youremail }} </span>
                    {% endif %}
                </div>
                <div class="form-group{{ errors.password? ' has-error ': '' }}">
                    <input class="form-control form-group" name="password" placeholder="Password123" type="password" value="{{oldInputData.password}}" required />                    
                        <span class='help-block'> {% if errors.password %}  {{ errors.password | first }} {% endif %} </span>                    
                </div>
                <div class="form-group">                    
                    <select class="form-control">
                        <option value="" selected disabled>Login As</option>
                        <option value="ustudent">Student</option>
                        <option value="uteacher">Teacher</option>
                        <option value="uparent">Parent</option>
                        <option value="uadmin">Admin</option>
                    </select>                                  
                </div>
                <br>
                
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                    <span><a href="#">Forgot Password?</a></span>
                    <span class="pull-right"><a href="{{ base_url() }}/auth/signup">Signup Here</a></span>
                </div>
            </form>
        </div>
    </div>


<!--
<div id="box1" class="box blurred-bg tinted">
  <div class="login-box">
    <h1>Login</h1>
	    <p>Drag this box</p>  
  </div>
  <div class="signup-box">
    <h1>Signup</h1>
	    <p>Drag this box</p> 
  </div>
</div>
-->

{% endblock %}