{% extends '/templates/app.twig' %}

{% block content %}
	

    <!-- Errors from server, display in error view bars -->
    {% if errors.email %}
    <div class="alert alert-danger fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Error!</strong> {{ errors.email | first }}
    </div>
    {% endif %}

    {% if errors.password %}
    <div class="alert alert-danger fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Error!</strong> {{ errors.password | first }}
    </div>
    {% endif %}


  <div class="row">
        <div class="col-xs-14 col-sm-14 col-md-4 well well-sm pull-right">
            <legend><i class="glyphicon glyphicon-globe"></i> Login</legend>

            
            <form action="{{ path_for('auth.login') }}" method="post" class="form" role="form">
                <div class="form-group{{ errors.email? ' has-error ': '' }}">
                    <input class="form-control form-group" name="youremail" placeholder="Your Email" type="email" value="email@domain.com" required />
                    {% if errors.email %}
                        <span class='help-block'> {{ errors.email | first }} </span>
                    {% endif %}
                </div>
                <div class="form-group{{ errors.password? ' has-error ': '' }}">
                    <input class="form-control form-group" name="password" placeholder="Password" type="password" value="123" required />
                    {% if errors.password %}
                        <span class='help-block'> {{ errors.password | first }} </span>
                    {% endif %}
                </div>
                <br><br>
                
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                    <span><a href="#">Forgot Password?</a></span>
                    <span class="pull-right"><a href="{{ base_url() }}/auth/signup">Signup Here</a></span>
                </div>
            </form>
        </div>
    </div>


<!--
<div id="box1" class="box blurred-bg tinted">
  <div class="login-box">
    <h1>Login</h1>
	    <p>Drag this box</p>  
  </div>
  <div class="signup-box">
    <h1>Signup</h1>
	    <p>Drag this box</p> 
  </div>
</div>
-->

{% endblock %}