{% extends '/templates/app.twig' %}

{% block content %}
	
  
  <div class="row">
        <div class="col-xs-14 col-sm-14 col-md-4 well well-sm pull-right">
            <legend><i class="glyphicon glyphicon-globe"></i> SignIn</legend>
            
            <div class="panel-body">            
                <form action="{{ path_for('auth.signin') }}" method="post" class="form" role="form">
                    <div class="form-group{{ errors.email? ' has-error ': '' }}">
                        <input class="form-control form-group" name="your_email" placeholder="email/phone" type="text" value="{{oldInputData.your_email}}" required />
                        {% if errors.your_email %}
                            <span class='help-block'> {{ errors.your_email }} </span>
                        {% endif %}
                    </div>
                    <div class="form-group{{ errors.password? ' has-error ': '' }}">
                        <input class="form-control form-group" name="password" placeholder="Password123" type="password" value="{{oldInputData.password}}" required />                    
                            <span class='help-block'> {% if errors.password %}  {{ errors.password | first }} {% endif %} </span>                    
                    </div>
                    <br>
                    
                    <div class="form-group">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Sign In</button>
                    </div>
                    <span><a href="#">Forgot Password?</a></span>
                    <span class="pull-right"><a href="{{ base_url() }}/auth/signup">Signup Here</a></span>

                    {{csrf.field | raw}}
                </form>
            </div>

        </div>
    </div>

{% endblock %}